*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.bg{
    height: 109vh;
    width: 100%;
    background-image: url(an.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    padding: 20px;
    
}

.navbar {
   
    width: 85%;
    margin-top:-20px;
    margin-left: 225px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009688;
    font-size: 23px;
    
}
.content{
    margin: 200px;
    margin-top: 100px;
    text-align: center;
    padding: 0px;
    color:black;
}.header{
   
    text-align: center;
    color: darkslategrey;
}
.bio{
    color: black;
    margin-left: 150px;
    text-decoration: wavy;
    

}
.h11{
    text-align: center;
    color: darkslategray;
}